<p>
<label><%= l(:watcher_filter_label) %></label>
<span style="margin-right: 1em;">
<%= select_tag(:watcher_filter_group_select, options_for_select(groups, groups[0])) %>
<%= select_tag(:watcher_filter_role_select, options_for_select(roles, roles[0])) %>
<%= text_field_tag(:watcher_filter_name_input, l(:watcher_filter_name_init)) %>
<%= submit_tag(
      l(:watcher_filter_button_apply),
      { :id => "watcher_filter_apply_button", :name => nil, :type => "button" }
    ) %>
<%= submit_tag(
      l(:watcher_filter_button_clear),
      { :id => "watcher_filter_clear_button", :name => nil, :type => "button" }
    ) %>
</span>
<%= submit_tag(
      l(:watcher_filter_button_check_all),
      { :id => "watcher_filter_check_button", :name => nil, :type => "button" }
    ) %>
<%= submit_tag(
      l(:watcher_filter_button_uncheck_all),
      { :id => "watcher_filter_uncheck_button", :name => nil, :type => "button" }
    ) %>
</p>

<% content_for :header_tags do %>
  <%= javascript_include_tag("watcher_filter", :plugin => "redmine_watcher_filter") %>
<% end %>
