<%# -*- coding: utf-8 -*- %>

<p id="watcher_filter_form">
<label><%= l(:watcher_filter_label) %></label>
<select id="watcher_filter_nonmember_select" name="watcher_filter_nonmember_select">
  <option value="SHOW" selected="selected"><%= l(:watcher_filter_show_nonmembers) %></option>
  <option value="ONLY"><%= l(:watcher_filter_show_only_nonmembers) %></option>
  <option value="HIDE"><%= l(:watcher_filter_hide_nonmembers) %></option>
</select>
<%= select_tag(:watcher_filter_group_select, options_for_select(groups)) %>
<%= select_tag(:watcher_filter_role_select, options_for_select(roles)) %>
<%= text_field_tag(:watcher_filter_name_keyword_input, l(:watcher_filter_name_keyword_init)) %>
<%= submit_tag(
      l(:watcher_filter_button_apply),
      { :id => "watcher_filter_apply_button", :name => nil, :type => "button" }
    ) %>
<%= submit_tag(
      l(:watcher_filter_button_clear),
      { :id => "watcher_filter_clear_button", :name => nil, :type => "button" }
    ) %>
<br />
<%= submit_tag(
      l(:watcher_filter_button_check_all),
      { :id => "watcher_filter_check_button", :name => nil, :type => "button" }
    ) %>
<%= submit_tag(
      l(:watcher_filter_button_uncheck_all),
      { :id => "watcher_filter_uncheck_button", :name => nil, :type => "button" }
    ) %>
</p>

<% content_for :header_tags do -%>
  <%= javascript_include_tag("watcher_filter", :plugin => "redmine_watcher_filter") %>
<% end -%>
